<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>TsumTsum Typing</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <!-- <script src="./playersMovement.js"></script> -->
    <!-- <script src="./displayElements.js"></script> -->
    <script src="./typing.js"></script>
  </head>

  <body ng-controller='TypingController'>
    
    <div id='header'>
      <img class='logo' src='images/tsumtsumlogo.png'/>
    </div>

    <div id='players'>  
        <img id='userPlayer' class='tsumtsum' src='images/tigger.png'/>
        <br>
        <img id='computerPlayer' class='tsumtsum sully' src='images/sully.png'/>
    </div>
  
    <div id='testParagraph'>{{testParagraph}}</div>

  
    <p ng-hide='hideCountdown' id='countdown'>Get ready to race! In {{secondsLeft}} seconds.</p>
  
    <div id='start'>
      <input ng-hide='!hideInput' ng-model='query' ng-click='buttonClicked()' class='startButton' type='submit' value='Start'/>
    </div>
    <input type="text" ng-change='checkTypeField()' ng-hide='hideInput' ng-model='whatYoureTyping' placeholder="Type in here"/>

    <p>{{whatYoureTyping}}</p>
  </body>

</html>