<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>TsumTsum Typing</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <!-- <script src="./playersMovement.js"></script> -->
    <script src="./typing-angular.js"></script>
    <script src="./typing-jquery.js"></script>
  </head>

  <body ng-controller='TypingController'>
    
    <div id='header'>
      <img class='logo' src='images/tsumtsumlogo.png'/>
    </div>

    <div id='players'>  
        <p class='playerLabels'>You</p>
        <img id='userPlayer' class='tsumtsum' src='images/tigger.png'/>
        <br>
        <p class='playerLabels computerLabel'>Computer</p>
        <img id='computerPlayer' class='tsumtsum sully' src='images/sully.png'/>
    </div>
    <p id='testParagraph'>'"Hello, Nick," said Harry. "Hello, hello," said Nearly Headless Nick, starting and looking round. He wore a dashing, plumed hat on his long curly hair, and a tunic with a ruff, which concealed the fact that his neck was almost completely severed. He was pale as smoke, and Harry could see right through him to the dark sky and torrential rain outside. "You look troubled, young Potter," said Nick, folding a transparent letter as he spoke and tucking it inside his doublet.'</p>
    <!-- <div id='testParagraph'>{{testParagraph}}</div> -->

  
    <p ng-hide='hideCountdown' id='countdown'>Get ready to race! In {{secondsLeft}} seconds.</p>
  
    <div id='start'>
      <input ng-hide='!hideInput' ng-model='query' ng-click='buttonClicked()' class='startButton' type='submit' value='Start'/>
    </div>

    <p id='whatYoureTyping' >{{whatYoureTyping | limitTo:words[0].length}}</p>
    
    <input type="text" ng-change='checkTypeField()' ng-hide='hideInput' ng-model='whatYoureTyping' placeholder="Type in here"/>

    <p>Time elapsed: {{totalTime}}</p>
    <p>Your WPM is: {{wpm}}</p>
  </body>

</html>