body {
  text-align: center;
  font-family: TravelingTypewriter, sans-serif;
}

#header {
  background-color: white;
}

#players {
  background-image: url('./images/background.jpeg');
  display: block;
/*  background-color:red;*/
  position: relative;
  padding: 10px 20px 25px 20px;
  border-radius: 5px;
  height: 400px;
}

p.currentWord {
  font-size: 20px;
  font-weight: 900;
}

img#computerPlayer {
  /*position: absolute;
  -webkit-animation: computerMove 5s linear 1; 
  animation: computerMove 5s linear 1;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards; 
  animation-fill-mode: forwards;*/
}

.animateUser {
  position: absolute;
  -webkit-animation: computerMove 18s linear 1;
  animation: computerMove 18s linear 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}
.animate {
  position: absolute;
  -webkit-animation: computerMove 24s linear 1;
  animation: computerMove 24s linear 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes computerMove {
    0% {
      left: 0%;
      transform:rotate(0deg);
    }
    20% {
      transform:rotate(360deg);
    }
    40% {
      transform:rotate(720deg);
    }
    60% {
      transform:rotate(1080deg);
    }
    80% {
      transform:rotate(1440deg);
    }
    100% {
      left: 85%;
      transform:rotate(1800deg);
    }
    from {}
    to {}
}
img.tsumtsum {
  padding-top: 0px;
  width: 150px;
  display: block;
}

img#userPlayer {
  /*top: 90px;*/
  left: 0px;
/*  position: absolute;*/
}

img.sully {
  top: 200px;
  left: 15px;
  width: 120px;
  padding-left: 15px;
/*  position: absolute;*/
}

#testParagraph {
  width: 100%;
  padding: 20px 0px 20px 0px;
}
.highlight {
  color: #049be2;
}

.red {
  color: red;
}
.startButton {
  height: 30px;
}
 
input {
  height: 50px;
  width: 500px;
  font-size: 18px;
  text-align: center;
}
p.testParagraph {
  text-align: left;
}


img.logo {
  width: 350px;
}

.rotate {
/*    margin: 20px;
    width: 100px;
    height: 100px;
    background: #f00;*/
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.computerLabel, .playerLabel {
  top: 0;
  position: absolute;
}

.computerLabel {
  top: 140px;
  padding-bottom: 5px;
}

.playerLabel {

}